<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net472" />
  <package id="cef.redist.x64" version="84.4.1" targetFramework="net452" />
  <package id="cef.redist.x86" version="84.4.1" targetFramework="net452" />
  <package id="CefSharp.Common" version="84.4.10" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="84.4.10" targetFramework="net452" />
  <package id="EPPlus" version="5.4.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.26" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="3.7.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net452" requireReinstallation="true" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>